{% extends "base.html" %} 
{% block title %}Create New Room{% endblock %} 
{% block content %}
  <div>
    <form class="row g-3" method="POST" required name="create_room" id="create_room"> 
      <h2 class="text-center">Create New Room</h2>
      <div class="col-12">
        <label for="name" class="form-label">Room Name</label>
        <input type="text" class="form-control" required name="name" id="name">
      </div>
      <div class="col-12">
        <label for="hotel_name" class="form-label">Hotel Name</label>
        <input type="text" class="form-control" required name="hotel_name" id="hotel_name">
      </div>
      <div class="col-12">
        <label for="hotel_location" class="form-label">Location</label>
        <input type="text" class="form-control" required name="hotel_location" id="hotel_location">
      </div>
      <div class="col-12">
        <label for="hotelType" class="form-label">Hotel Type</label>
        <select class="form-select" aria-label="Adult" required name="hotel_type">
          <option value="resort">Resort</option>
          <option value="city">City</option>
        </select>
      </div>
      <div class="col-12">
        <label for="guest_capacity" class="form-label">Guest Capacity</label>
        <input type="number" class="form-control" required name="guest_capacity" id="guest_capacity">
      </div>
      <div class="col-12">
        <label for="price" class="form-label">Price</label>
        <input type="number" class="form-control" required name="price" id="price">
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-primary">CREATE</button>
      </div>
    </form>
  </div>
{% endblock %}
{% block extrascript %}
<script>
  const form = document.getElementById("create_room");
  form.onsubmit = async function(event){
    event.preventDefault();
    event.stopPropagation();
    console.log(event.name)
    const body = {
      "name": event.target.elements["name"].value,
      "hotel_name": event.target.elements["hotel_name"].value,
      "hotel_location": event.target.elements["hotel_location"].value,
      "hotel_type": event.target.elements["hotel_type"].value,
      "guest_capacity": event.target.elements["guest_capacity"].value,
      "price": event.target.elements["price"].value
    }
    try{
      const resp = await fetch("/api/room", {
        method: 'POST',
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(body)
      });
      alert("Room created successfully");
    }
    catch(e){
      alert("Ooops, there's something wrong");
    }
    return false;
  };
</script>
{% endblock %}
